.primary-color{
    background-color: #009688;
}

.secundary-color{
    background-color:#536DFE;
}
.light-primary-color{
    background-color: #B2DFDB;
}
.content-profile{
    margin-top: 20px!important;
}

.content-sections{
    margin-top: 30px!important;
}

.primary-color-text{
    color: #212121;
    font-family: Georgia;
    font-size: 40px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    background-color: #009688;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.footer>div>div>h4{
    font-size: 30px;
}


.header{
    position: fixed;
    left: 0;
    top: 0;
    background-color: #89858a;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.text-title{
    font-family: 'Times New Roman';
    font-size: 36px;
}

.div>p>ul>li{
    font-family:'Tahoma';
    font-size: 26px;
    color:#212121;
}